/*To get rid of underlines on links*/

A{text-decoration:none}

body {
	margin: 0 0;
}



/******************************* NAVBAR ***********************************/

ol {
	margin-bottom: 0px;
}

li {
    display:inline;
    float: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.banner_div {
	display: table;
	width: 100%;
}

.bar {
	display:block;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-top: 15px;
    /*border-bottom: solid 1px lightgrey;*/
    width:100%;
    padding-bottom: 15px;

}

.navbar_home {
    position:fixed;
    z-index: 1;
    width:100%;
    background-color: white;
    margin-bottom:0px;
    z-index: 100;
    border-bottom: 1px solid #D1D1D1;
}

.navbar_home_back {
    position:relative;
    z-index: 1;
    width:100%;
    background-color: white;
    margin-bottom:0px;
    z-index: 1;
    border-bottom: 1px solid #D1D1D1;
}

.navbar, .navbar_home {
    text-align: center;
    margin-bottom:0px;
}

.navbar {
    margin-bottom: 10px;
    /*background-color: #F8F8F8;*/
}

#nav, #nav2, #nav3, #nav4 , #nav5{
    color: #606061;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#nav:hover, #nav2:hover, #nav3:hover, #nav4:hover, #nav5:hover {
    color: black;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar_icon_home {
    height:40px;
    padding-right: 20px;
}

.navbar_icon{
    height : 16px;
    margin-left: 20px;
    opacity: 0.5;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.navbar_icon:hover {
    opacity:1;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

#fb {
    height:14px;
    padding-left: 20px;
}




/******************************* SLIDESHOW ***********************************/
.banner {
	height: auto;
	max-width: 100%;
	display: block;
}


#slides {
      display:none;
    }

.slidesjs-slides {
    padding-top: 70px;
}

.slidesjs-pagination {
    position: absolute;

}

.slidesjs-navigation {
    visibility:hidden;
    position:absolute;
}

.slidesjs-playing {
    position: absolute;
    top:10px;
    z-index:1000;
}


/******************************* MISSION STATEMENT ***********************************/

.mission {
    background-color: #F5F5F5;
}

.mission_title {
    text-align: center;
    font-size: 25px;
    font-family: 'adobe-garamond-pro',Arial,"Helvetica Neue",Helvetica,sans-serif;
    letter-spacing: 2px;
    padding-top: 0px;
    color: #9C9C9C;
}

.lead_new {
    font-size:22px;
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    text-align: center;
    font-style: italic;
    padding-bottom: 40px;
}

.description {
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 80px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:17px;
    text-align: center;
    font-weight:200;
}

.after_mission {
    padding-top: 40px;
    height:120px;
    margin: auto auto;
    display: block;
}


/******************************* CALENDAR ***********************************/

#calendar {
    padding-top:0px;
    padding-bottom: 75px;
}

.calendar_title {
    text-align: center;
    font-size: 25px;
    font-family: 'adobe-garamond-pro',Arial,"Helvetica Neue",Helvetica,sans-serif;
    letter-spacing: 2px;
    padding-top: 50px;
    color: #9C9C9C;
    padding-bottom: 10px;
}


/******************************* LEADERSHIP ***********************************/

.leadership_intro {
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 80px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:17px;
    text-align: center;
    font-weight:200;
    margin-top: 50px;
}

/******************************* PROGRAMS ***********************************/



