/***HEAD*/

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17.5px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 25px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.1 {
    position:relative;
    height:100px;
}

.div1 {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: url(back_1.jpg) no-repeat center center fixed; 
  
}

#back {
    display:none;
}

#home {
    display: none;
}

#3 {
    display: none;
}

.div2 {
    background-color: black;
    opacity: 0.3;
    height:100%;
}

.heading-begin {
    text-align: center;
    margin-top: 250px;
    
    color: white;
    font-size: 50px;
}

.heading-middle {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 80px;
    font-weight: 100;
    letter-spacing: 0px;

}

.heading-end {
    /*font-family: Georgia, serif;*/
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 304px;
    letter-spacing: 0px;
    font-style: italic;
}

.heading-end:hover {
    text-decoration: underline;
    transition: all .15s ease;
   -moz-transition: all .15s ease;
   -o-transition: all .15s ease;
   -webkit-transition: all .15s ease;
}

#temperatures {
    background-color: white;
    height:500px;
    width: 100%;
    position:relative;
}

.icon, .icon_1 {
    height:50px;
    display: block;
    margin-left:auto;
    margin-right: auto;
}

.icon {
    margin-top: 60px;
}

.icon_1 {
    margin-top: 20px;
    margin-bottom: 50px;
}

#icon {
    padding-top: 50px;
    background-color: #F5F5F5;
}

.title {
    /*font-family: Georgia, serif;*/
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 0px;
    font-weight: lighter;
}

.title2, .title3, .title4 {
    /*font-family: Georgia, serif;*/
    text-align: center;
    font-size: 17px;
    letter-spacing: 0px;
    font-weight: 150;
}

.title2 {
    margin-top: 10px;
    margin-bottom: 80px;
}

.title3 {
    margin-right: 0px;
    padding-top: 70px;
    margin-top: 50px;
    width:80%;
    margin-left: 100px;
    text-align: left;
    letter-spacing: 0px;
    font-size: 16px;
}

.title4 {
    letter-spacing: 0px;
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 17px;
    width:75%;
    display:block;
    margin-left:auto;
    margin-right: auto;
    /*color:#B8B8B8;*/
}

.title5 {
    letter-spacing: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 17px;
    width:60%;
    display:block;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    color:black;
}

.warning {
    height:110px;
    width: 100%;
    position:relative;

}

.temp_title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color:#990033;
    letter-spacing: 1px;
    font-weight:400;
}

.temp_title_2, .temp_title_3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 10px;
    font-size: 20px;
    color:black;
    letter-spacing: 1px;
    font-weight:400;
    text-align: center;
}

.temp_title_2 {
    margin-bottom: 70px;
}

.temp_title_3 {
    margin-bottom: 20px;
}

.temp_title_4, .temp_title_begin{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 50px;
    font-size: 14px;
    
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 3px;
    font-weight:200;
    text-align: center;
    
    margin-left: 40%;
    margin-right: 40%;
    border-style: solid;
    border-width: 1px;
}

.temp_title_4 {
    font-size: 12px;
    color:grey;
    margin-bottom: 200px;
    width:270px;
}

.temp_title_begin {
    color:white;
    margin-bottom: 10px;
}

.temp_title_4:hover{
    border-color: grey;
    background-color: grey;
    color:white;
    transition: all .15s ease;
   -moz-transition: all .15s ease;
   -o-transition: all .15s ease;
   -webkit-transition: all .15s ease;
}

.temp_title_begin:hover {
    border-color:white;
    color:black;
    transition: all .15s ease;
   -moz-transition: all .15s ease;
   -o-transition: all .15s ease;
   -webkit-transition: all .15s ease;
   background-color: white;
}

.effects {
    width:85%;
    display:block;
    margin:auto auto;
}

.emphasis {
    text-align: center;
    font-weight: normal;
    letter-spacing: 0px;
}

.emphasis_1 {
    text-align: center;
    color:#990033;
    letter-spacing: 0px;
}

.issues_cover {
    width: 100%;
    height:292px;
    /*transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;*/
}

.hover1 {
    display: inline-block;
    background-color: black;
    opacity: 1;
    width:50%;
    height:292px;
    position:relative;
    
}

.hover_text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    width:100%;
    padding-left: 50px;
    padding-right: 50px;
    color:white;
    position: absolute;
    top:0;
    margin-top:70px;
    opacity:0;
    text-align: center;
    font-weight: 100;
    letter-spacing: 0.25px;
 
}

#hover3_text {
    margin-top:50px;
}

.hover_heading {
    /*font-family: Georgia, serif;*/
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 200;

}

#hover1:hover > #hover1_text{
    opacity:1;
    transition: opacity .15s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
}

#hover1:hover >#hover1_img {
    opacity: 0.4;
    transition: opacity .15s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
}

#hover2:hover > #hover2_text{
    opacity:1;
    transition: opacity .15s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
}

#hover2:hover >#hover2_img {
    opacity: 0.4;
    transition: opacity .15s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
}
#hover3:hover > #hover3_text{
    opacity:1;
    transition: opacity .15s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
}

#hover3:hover >#hover3_img {
    opacity: 0.4;
    transition: opacity .15s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
}
#hover4:hover > #hover4_text{
    opacity:1;
    transition: opacity .15s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
}

#hover4:hover >#hover4_img {
    opacity: 0.4;
    transition: opacity .15s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
}

/*** CHAPTER ONE ****/
li {
    display:inline;
    float: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul {
    padding-left: 0px;
    padding-top: 10px;
    border-bottom: solid 1px lightgrey;
    width:100%;
    padding-bottom: 10px;
    margin-bottom: 0px
}

.navbar_home {
    position:fixed;
    z-index: 1;
    width:100%;
    background-color: white;
    margin-bottom:0px;
}

.navbar, .navbar_home {
    text-align: center;
    margin-bottom:0px;
}

.navbar {
    margin-bottom: 10px;
    /*background-color: #F8F8F8;*/
}

#nav, #nav2, #nav3, #nav4 , #nav5{
    color: black;
}

.back {
    width:100%;
    height:910px;
}

.history_title_top, .history_title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 20px;
    font-size: 25px;
    color:grey;
    letter-spacing: 3px;
    font-weight:200;
    text-align: center;
}

.history_title_top {
    margin-top: 0px;
}

.history_title {
    margin-top: 50px;
}

.container_world {
    display: inline-block;
}

.history_button {
    
}

#gdpBtn {
    left:795px;
    top:469px;
}

#popBtn {
    left:914px;
    top:469px;
}

#forestBtn {
    left:1033px;
    top:469px;
    z-index:1;
}

.play_button, .play_button_on {
    left:320px;
    top:468px;
    outline:none;
    border-color:grey;
    border-width:1px;
    width:50px;
    border-image: none;
    border-bottom-style: solid;
    border-right-style: solid;
    background-size: 25px;
    background-position: center;
    color:rgba(0, 0, 0, 0);
}

.play_button:hover, .play_button_on:hover {
    background-color: lightgrey;
    border-color: lightgrey;
    transition: all .15s ease;
   -moz-transition: all .15s ease;
   -o-transition: all .15s ease;
   -webkit-transition: all .15s ease;
}

.play_button {
    background: url("play.png") no-repeat;
    background-size: 25px;
    background-position: center;
}

.play_button_on {
    background: url("pause.png") no-repeat;
    background-size: 25px;
    background-position: center;
}

#countVis {
    margin-left: 285px;
    margin-bottom: 100px;
}

#usage {
    margin-right: 15px;
}

#compare {

}

.emissions_label {
    position: absolute;
    left:505px;
    top:400px;
    font-size:12px;
}

.emissions_axis {
    position:absolute;
    top:100px;
    fill:grey;
    font-size: 12px;
}

.emissions_axis line{
    height:10px;
    stroke: grey;
}

.emissions_axis path {
}

.history_text, .history_text_bottom {
    position: absolute;
    margin-left: 0px;
    
    padding-left: 15px;
    padding-right: 13px;
    width:270px;
    
    background-color: #F5F5F5;
    font-size: 13px;
}

.history_text {
    margin-top: -195px;
    height:180px;
    padding-top: 12px;
}

.history_text_bottom {
    margin-top: 0px;
    height: 220px;
    padding-top: 7px;
}

.history_btn, .btn_on {
    outline:none;
    border-color:grey;
    border-width:1px;
    
    font-size: 12px;
    letter-spacing: 2px;
    width:120px;
    border-image: none;
    border-style: solid;
    border-style: solid;
    position:absolute;
    z-index:1;
}

.history_btn {
    background-color: white;
    color: grey;
}

.history_btn:hover {
    border-color: lightgrey;
    background-color: lightgrey;
    color:white;
    transition: all .15s ease;
   -moz-transition: all .15s ease;
   -o-transition: all .15s ease;
   -webkit-transition: all .15s ease;
}

.explore_label {
    font-size: 12px;
    letter-spacing: 2px;
    position: absolute;
    text-align: center;
    left:50px;
    top:370px;
    width:200px;
}

#sixtiesBtn, #seventiesBtn, #ninetiesBtn, #noughtiesBtn {
    width:67.5px;
    top:275px;
}

#sixtiesBtn{ 
    left:15px;
}

#seventiesBtn {
    left:82px;
}

#ninetiesBtn {
    left:149px;
}

#noughtiesBtn {
    left:216px;
}

.btn_on {
    background-color: grey;
    color: white;
}

.legend {
    display:none;
    width:120px;
    position:absolute;

}

#legend {
    left:495px;
    margin-top: 12px;
    opacity:0.75;
}

#legend2 {
    height:45px;
    margin-top: 10px;
    left:910px;
    opacity:0.75;
}

.chart_label {
    font-size: 12px;
    position:absolute;
    z-index:1;
    margin-top: -150px;
    text-align: center;
}

.instr{
    font-size: 12px;
    letter-spacing: 2px;
    position:absolute;
    z-index:1;
    margin-top: -150px;
    text-align: center;
}

.instr_edited {
    left:490px;
    font-size: 12px;
    letter-spacing: 2px;
    position:absolute;
    
    margin-top: 80px;
    text-align: center;
}

#instr1 {
    left:500px;
}

#instr2 {
    left:890px;
}

.key {
    position:absolute;
    left:-15px;
    top:120px;
    height:150px;
    width:150px;
    
}

#key_pop {
    background: url(pop_key.png) no-repeat;
    background-size: 100px;
    background-position: center;
}

#key_forest {
    background: url(forest_key.png) no-repeat;
    background-size: 100px;
    background-position: center;
}

#key_gdp {
    background: url(gdp_key.png) no-repeat;
    background-size: 100px;
    background-position: center;
}

/*************** sankey formatting *****************/

#sankey {
    border-top: solid 1px lightgrey;
    /*background-color: #F8F8F8;*/
    height:820px;
}

#sectorVis {
    display:block;
    margin:auto auto;
    width:100%;
}

#sankey_basic {
    margin-top: 50px;
    width:100%;
    margin-bottom: 60px;
}

.sector_text {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.sector_explain {
    font-size:13px;
    text-align: center;
}

.sector_legend {
    font-size: 12px;
    text-align: center;
}


/*************** axes formatting *******************/
.axis text {
    font: 11px Helvetica, Arial, sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: lightgrey;
    shape-rendering: crispEdges;
}

.axis .tick {

    fill: grey;
    stroke: none;
    opacity: 0.7;
}

.boundingBox{
    cursor: pointer;
    fill: grey;
    fill-opacity: .3;
    pointer-events: all;
}


.label{
    color: black;
    font-size: 14px;
    background-color: lightgrey;
}

.line{
    fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

.temp_node {
    stroke:grey;
    fill: none;
}

.temp_line {
    stroke:grey;
    fill: grey;
    opacity: 0;
}

.flash_node {
    stroke:none;
    fill: #990033;
}

.axis_text {
    font-size: 14px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.tool_text {
    margin-bottom: 0px;
}

.tooltip_temps {
        visibility:hidden;
        position: absolute;
        width: 100px;
        padding: 10px;
        background-color: rgba(245,245,245,.9);
        font-size: 14px;
}

.tooltip_bubbles {
    visibility:hidden;
        position: absolute;
        width: 150px;
        padding: 10px;
        background-color: rgba(245,245,245,.9);
        font-size: 10px;
}